<h1>Users</h1>

<div class="container mt-3">
    <form (submit)="onSend(isEdit)">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control"[(ngModel)]="user.name" name="name">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control"[(ngModel)]="user.email" name="email">
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control"[(ngModel)]="user.phone" name="phone">
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Submit">
    </form>
</div>

<br><br><br>

<div class="container mt-3" *ngFor="let user of users">
    <ul class="list-group">
        <li class="list-group-item">Name: {{user.name}}</li>
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Phone: {{user.phone}}</li>
    </ul>
    <button class="btn btn-outline-danger btn-sm" (click)="onDelete(user.id)">Delete</button>
    <button class="btn btn-outline-success btn-sm" (click)="onEdit(user)">Edit User</button>
    <br><br>
</div>    