<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/about">About Us</a>
        <a class="nav-item nav-link" routerLink="/form">Form</a>
        <a class="nav-item nav-link" routerLink="/example">Example</a>
        <a class="nav-item nav-link" routerLink="/todo">Todo</a>

      </div>
    </div>
  </nav>