<div class="container mt-3 animated tada">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group text-center">
            <label class="display-4" >Enter your hobbie</label>
            <input type="text"
            [(ngModel)]="name" name="name"
            class="form-control"
            maxlength="40">
        </div>
        <input type="submit" value="Go for it" class="btn btn-outline-success">
    </form>
    <br>

    <ul class="list-group">
        <li (click)="onDelete()" class="list-group-item" 
        *ngFor="let h of hobbies; index as i">
        <button class="btn btn-danger btn-sm m-0 float-right">x</button>
        {{h}}
        
    </li>
    </ul>
</div>